* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header {
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.range-container {
    display: flex;
    gap: 5px;
    align-items: center;
}


.top-button {
    background-color: none;
    border: 0.1px solid black;
    border-radius: 15px;
    width: 80px;
    padding: 5px;
}

#main-container {
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    display: grid;
}

.boxes {    
    border: 0.5px solid rgb(216, 212, 212);
}

button {
    background-color: rgb(228, 228, 228);
}

button:hover {
    background-color: rgb(117, 113, 109);
}
